.sidebar{
    display: flex;
    height: 100vh;
    position: fixed;
    align-items: center;
    padding: 0 80px;
    width: 350px;
    background-color: black;
    z-index: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.sidebar_inner{
    width: 100%;
    height: auto;
    background: black;
}
.menu ul {
    list-style-type: none;
    color: #BCBCBC;
    padding: 0px;
    
}
.menu ul li{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    padding: 3px;
    color: #BCBCBC;
}
.logo{
    position: relative;
    bottom:50px;
    left: 8px;
}
.logo h2{
    font-size: 35px;
    font-weight: 800;
}
.copyright p{
    margin: 0px;
    color: #BCBCBC;
}
.copyright .icon{
    font-size: 17px;
    color: #BCBCBC;
    padding: 3px;
}
.copyright{
    margin-top: 70px;
}
.menu ul li:hover{
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
   .sidebar a {
      text-align: center;
      float: none;
    }
  }
  